* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  font-weight: 600;
  color: #ebdbb2;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: #282828;
  color: #ebdbb2;
  transition: background-color 0.25s ease;
  border-bottom: 1px solid #665c54;
}

window#waybar.hidden {
  opacity: 0.2;
}

widget > * {
  margin-top: 4px;
  margin-bottom: 4px;
}

.modules-left > widget > *,
.modules-center > widget > *,
.modules-right > widget > * {
  margin-left: 2px;
  margin-right: 2px;
  padding: 0 16px;
  min-height: 28px;
  border: 2px solid #665c54;
  border-radius: 0;
}

.modules-left > widget:first-child > * {
  margin-left: 4px;
}

.modules-right > widget:last-child > * {
  margin-right: 4px;
}

#workspaces {
  background: transparent;
  border: none;
  padding: 0;
  margin: 4px 0 4px 2px;
}

#workspaces button {
  margin: 0 2px;
  padding: 0 10px;
  min-height: 28px;
  color: #ebdbb2;
  background: #282828;
  border: 2px solid #665c54;
  border-radius: 0;
}

#workspaces button.focused {
  background: #d79921;
  color: #282828;
  border-color: #fabd2f;
}

#workspaces button.urgent {
  background: #cc241d;
  color: #fbf1c7;
  border-color: #fb4934;
}

#window {
  background: #504945;
  color: #ebdbb2;
  border-color: #665c54;
}

#mode {
  background: #cc241d;
  color: #fbf1c7;
  border-color: #fb4934;
}

#temperature {
  background: #cc241d;
  color: #fbf1c7;
  border-color: #fb4934;
}

#cpu {
  background: #458588;
  color: #fbf1c7;
  border-color: #83a598;
}

#custom-gpu-usage {
  background: #d65d0e;
  color: #fbf1c7;
  border-color: #fe8019;
}

#memory {
  background: #b16286;
  color: #fbf1c7;
  border-color: #d3869b;
}

#pulseaudio {
  background: #689d6a;
  color: #282828;
  border-color: #8ec07c;
}

#network {
  background: #98971a;
  color: #282828;
  border-color: #b8bb26;
}

#bluetooth {
  background: #458588;
  color: #fbf1c7;
  border-color: #83a598;
}

#clock {
  background: #d79921;
  color: #282828;
  border-color: #fabd2f;
}

#battery {
  background: #b16286;
  color: #fbf1c7;
  border-color: #d3869b;
}

#custom-tlp {
  background: #d65d0e;
  color: #fbf1c7;
  border-color: #fe8019;
}

#battery.charging {
  background: #98971a;
  color: #282828;
  border-color: #b8bb26;
}

#battery.critical {
  background: #cc241d;
  color: #fbf1c7;
  border-color: #fb4934;
  animation: blink 1s linear infinite alternate;
}

#custom-logout {
  background: #cc241d;
  color: #fbf1c7;
  border-color: #fb4934;
}

@keyframes blink {
  to {
    opacity: 0.65;
  }
}

label:focus {
  background-color: #282828;
}

tooltip {
  background: #504945;
  border: 2px solid #665c54;
  border-radius: 0;
}

tooltip label {
  color: #bdae93;
}
